@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body, html{height:100%;}
body { 
  background-image: url("https://w0.peakpx.com/wallpaper/497/192/HD-wallpaper-green-color-green.jpg");
  background-color: #cccccc;
  height: 125%; 
  margin: 0;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex;
  flex-direction:column;
}

h1 {
  color:#cccccc;
  text-align: center;
}
